@font-face {
    font-family: "overpass-mono";
    src: url("css/fonts/overpass-mono-regular.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "overpass-mono";
    src: url("fonts/overpass-mono-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "overpass-mono";
    src: url("fonts/overpass-mono-semibold.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "overpass-mono";
    src: url("fonts/overpass-mono-bold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
