@import "./normalize.scss";
@import "./fonts.scss";

$accent: #e800e0;
$bg: #fff;
$selected: rgba($accent, 0.5);

body {
    font-family: "CherryBombOne", sans-serif;

    background: $accent;

    ::selection {
        background: $selected !important;
    }

    font-size: 18px;
    line-height: 1.4;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 32px);
    padding: 16px;
}
